In [7]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import time
import pickle
from __future__ import division
import csv
import os

In [84]:
def calcularSimilitud(tpm,secuencia,mls):
    i = 0
    j = 0
    idenk = 0
    travel_counter = 0
    largo_secuencia = len(secuencia)
    p_zero = pow(10,-8)/largo_secuencia
    p_nan = pow(10,-8)/largo_secuencia
    for travel in secuencia:
        # buscar pik en tpm
        try:
            index_bajada = mls.index(travel)
        except ValueError:
            index_bajada = -1
        if(travel_counter > 0):
            if(index_bajada < 0 or index_subida < 0):
                pik = p_nan
            else:
                pik = tpm[index_subida, index_bajada]
            if(pik != pik):
                pik = p_nan
            elif(pik == 0):
                pik = p_zero
            # sumar log10
            idenk += np.log10(pik)
        index_subida = index_bajada
        travel_counter +=1

    return idenk

## Cargar Datos, Perfiles, Secuencias y Resultados

In [23]:
with open('df_abril.pickle') as f:
    df_abril = pickle.load(f)

In [24]:
with open('df_septiembre.pickle') as f:
    df_septiembre = pickle.load(f)

In [25]:
with open('users_profiles.pickle') as f:
    profiles_abril = pickle.load(f)

In [26]:
with open('profiles.pickle') as f:
    sequences_septiembre = pickle.load(f)

In [27]:
with open('objs_8.pickle') as f:
    iden, index_correct, delta_time = pickle.load(f)

## Caso de prueba usuario 0

In [57]:
mls_0 = profiles_abril[0]["mls"]
tpm_user0 = np.matrix(profiles_abril[0]["tpm"])
tpm_0 = tpm_user0
tpm_user0 = pd.DataFrame(tpm_user0)
tpm_user0.columns = mls_0
tpm_user0.index = mls_0
tpm_user0

,T-22-205-SN-65,E-20-190-SN-40,E-20-291-PO-20,T-15-135-PO-5,T-15-135-OP-110,T-4-19-NS-100,E-20-199-NS-2,T-24-205-NS-20,T-20-190-SN-35,E-20-289-PO-5,T-22-205-SN-55,T-24-205-NS-30,T-15-135-OP-105
T-22-205-SN-65,0.000000,0.8,0.000000,0,0.000,0,0.00,0.0,0.2,0.000,0.00,0.000,0.000000
E-20-190-SN-40,0.125000,0.0,0.375000,0,0.250,0,0.25,0.0,0.0,0.000,0.00,0.000,0.000000
E-20-291-PO-20,0.000000,0.0,0.000000,1,0.000,0,0.00,0.0,0.0,0.000,0.00,0.000,0.000000
T-15-135-PO-5,0.000000,0.0,0.000000,0,0.500,0,0.25,0.0,0.0,0.000,0.25,0.000,0.000000
T-15-135-OP-110,0.000000,0.0,0.000000,0,0.000,1,0.00,0.0,0.0,0.000,0.00,0.000,0.000000
T-4-19-NS-100,0.000000,0.0,0.000000,0,0.000,0,1.00,0.0,0.0,0.000,0.00,0.000,0.000000
E-20-199-NS-2,0.125000,0.0,0.000000,0,0.125,0,0.00,0.5,0.0,0.125,0.00,0.125,0.000000
T-24-205-NS-20,1.000000,0.0,0.000000,0,0.000,0,0.00,0.0,0.0,0.000,0.00,0.000,0.000000
T-20-190-SN-35,0.000000,0.0,0.000000,0,0.000,0,0.00,0.0,0.0,1.000,0.00,0.000,0.000000
E-20-289-PO-5,0.000000,0.0,0.000000,1,0.000,0,0.00,0.0,0.0,0.000,0.00,0.000,0.000000
T-22-205-SN-55,0.000000,1.0,0.000000,0,0.000,0,0.00,0.0,0.0,0.000,0.00,0.000,0.000000
T-24-205-NS-30,0.333333,0.0,0.333333,0,0.000,0,0.00,0.0,0.0,0.000,0.00,0.000,0.333333
T-15-135-OP-105,0.000000,0.0,0.000000,0,0.000,1,0.00,0.0,0.0,0.000,0.00,0.000,0.000000

In [58]:
sequence_0 = sequences_septiembre[0]['sequence']
sequence_0

['T-22-205-SN-65',
 'E-20-190-SN-40',
 'E-20-291-PO-20',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-4-19-NS-100',
 'E-20-199-NS-2',
 'T-24-205-NS-20',
 'L-24-26-OP-25',
 'T-22-205-SN-55',
 'E-20-190-SN-40',
 'E-20-289-PO-5',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-4-19-NS-100',
 'E-20-199-NS-2',
 'T-24-205-NS-20',
 'T-22-205-SN-65',
 'E-20-190-SN-40',
 'E-20-291-PO-20',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-4-19-NS-100',
 'E-20-199-NS-2',
 'T-24-205-NS-20',
 'T-22-205-SN-65',
 'E-20-190-SN-40',
 'E-20-291-PO-20',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-14-121-OP-10',
 'T-14-131-PO-40',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-4-19-NS-100',
 'E-20-199-NS-2',
 'T-24-205-NS-20',
 'T-22-205-SN-65',
 'E-20-190-SN-40',
 'E-20-291-PO-20',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-4-19-NS-100',
 'E-20-199-NS-2',
 'T-24-205-NS-20',
 'T-22-205-SN-65',
 'T-20-190-SN-35',
 'E-20-291-PO-20',
 'T-15-135-PO-5',
 'T-15-135-OP-110',
 'T-4-19-NS-100',
 'E-20-199-NS-2',
 'T-24-205-NS-20']

In [85]:
calcularSimilitud(tpm_0,sequence_0,mls_0)

-74.773806016294643

## Caso de prueba usuario 5167

In [86]:
mls_5167 = profiles_abril[5167]["mls"]
tpm_user5167 = np.matrix(profiles_abril[5167]["tpm"])
tpm_5167 = tpm_user5167
tpm_user5167 = pd.DataFrame(tpm_user5167)
tpm_user5167.columns = mls_5167
tpm_user5167.index = mls_5167
tpm_user5167

,MONTE TABOR,LAS PARCELAS,SANTA ANA,E-13-54-NS-85,PLAZA MAIPU,CAL Y CANTO
MONTE TABOR,0.000000,0.25,0.750000,0.0,0.000000,0
LAS PARCELAS,1.000000,0.00,0.000000,0.0,0.000000,0
SANTA ANA,0.800000,0.00,0.000000,0.2,0.000000,0
E-13-54-NS-85,0.000000,0.00,0.000000,0.0,1.000000,0
PLAZA MAIPU,0.000000,0.00,0.000000,0.0,0.000000,1
CAL Y CANTO,0.333333,0.00,0.333333,0.0,0.333333,0

In [87]:
sequence_5167 = sequences_septiembre[5167]['sequence']
sequence_5167

['MONTE TABOR',
 'SANTA ANA',
 'MONTE TABOR',
 'SANTA ANA',
 'MONTE TABOR',
 'SANTA ANA',
 'MONTE TABOR',
 'SANTA ANA',
 'MONTE TABOR',
 'SANTA ANA',
 'MONTE TABOR']

In [88]:
calcularSimilitud(tpm_5167,sequence_5167,mls_5167)

-1.1092437480817816

In [89]:
p_zero = pow(10,-8)
p_nan = pow(10,-8)
idenk = 0
travel_counter = 0
for travel in secuencia:
    largo_secuencia = len(secuencia)
    p_zero = pow(10,-8)/largo_secuencia
    # buscar pik en tpm
    try:
        index_bajada = mls.index(travel)
    except ValueError:
        index_bajada = -1
    if(travel_counter > 0):
        if(index_bajada < 0 or index_subida < 0):
            pik = p_nan
        else:
            pik = tpm[index_subida, index_bajada]
        if(pik != pik):
            pik = p_nan
        elif(pik == 0):
            pik = p_zero
        # sumar log10
        idenk += np.log10(pik)
    index_subida = index_bajada
    travel_counter +=1

return idenk

NameError: name 'secuencia' is not defined

## Caso de prueba usuario 1031

In [90]:
mls_1031 = profiles_abril[1031]["mls"]
tpm_user1031 = np.matrix(profiles_abril[1031]["tpm"])
tpm_1031 = tpm_user1031
tpm_user1031 = pd.DataFrame(tpm_user1031)
tpm_user1031.columns = mls_1031
tpm_user1031.index = mls_1031
tpm_user1031

,L-13-31-OP-60,L-13-10-PO-5,DEL SOL,SANTA ANA,MONTE TABOR,T-20-182-PO-36
L-13-31-OP-60,0,1,0,0,0.000000,0.000000
L-13-10-PO-5,0,0,1,0,0.000000,0.000000
DEL SOL,0,0,0,1,0.000000,0.000000
SANTA ANA,0,0,0,0,0.833333,0.166667
MONTE TABOR,0,0,0,1,0.000000,0.000000
T-20-182-PO-36,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
np.log10(0.8)

-0.096910013008056392

In [92]:
sequence_1031 = sequences_septiembre[1031]['sequence']
sequence_1031

['T-13-12-NS-20',
 'T-13-54-SN-50',
 'DEL SOL',
 'PLAZA DE ARMAS',
 'MONTE TABOR',
 'DEL SOL',
 'T-13-54-NS-35',
 'L-13-31-PO-65',
 'L-13-31-OP-60',
 'T-13-54-SN-50',
 'DEL SOL',
 'LA MONEDA',
 'SALVADOR',
 'DEL SOL',
 'T-13-54-NS-35',
 'L-13-31-PO-65',
 'T-13-12-NS-20',
 'T-13-54-SN-50',
 'DEL SOL',
 'SANTIAGO BUERAS',
 'DEL SOL',
 'SANTA ANA',
 'DEL SOL']

In [93]:
calcularSimilitud(tpm_1031,sequence_1031,mls_1031)

-196.59628455636945

In [94]:
calcularSimilitud(tpm_1031,sequence_5167,mls_1031)

-0.3959062302381241

## Caso de prueba usuario 1187

In [75]:
mls_1187 = profiles_abril[1187]["mls"]
tpm_user1187 = np.matrix(profiles_abril[1187]["tpm"])
tpm_1187 = tpm_user1187
tpm_user1187 = pd.DataFrame(tpm_user1187)
tpm_user1187.columns = mls_1187
tpm_user1187.index = mls_1187
tpm_user1187

               SIMON BOLIVAR  LA MONEDA  TOBALABA  SANTA LUCIA
SIMON BOLIVAR       0.000000        0.8  0.000000          0.2
LA MONEDA           0.857143        0.0  0.142857          0.0
TOBALABA            1.000000        0.0  0.000000          0.0
SANTA LUCIA         1.000000        0.0  0.000000          0.0

In [74]:
sequence_1187 = sequences_septiembre[1187]['sequence']
sequence_1187

['SIMON BOLIVAR',
 'LA MONEDA',
 'SIMON BOLIVAR',
 'UNIVERSIDAD DE CHILE',
 'SIMON BOLIVAR',
 'LA MONEDA',
 'SIMON BOLIVAR',
 'LA MONEDA',
 'PEDRO DE VALDIVIA',
 'T-14-127-NS-4',
 'T-14-127-NS-15',
 'T-14-127-NS-45',
 'L-18-6-PO-110',
 'L-19-21-SN-15',
 'SIMON BOLIVAR',
 'LA MONEDA',
 'SIMON BOLIVAR']

In [95]:
calcularSimilitud(tpm_1187,sequence_1187,mls_1187)

-83.662520713328533

## Caso de prueba usuario 5

In [78]:
mls_5 = profiles_abril[5]["mls"]
tpm_user5 = np.matrix(profiles_abril[5]["tpm"])
tpm_5 = tpm_user5
tpm_user5 = pd.DataFrame(tpm_user5)
tpm_user5.columns = mls_5
tpm_user5.index = mls_5
tpm_user5

,T-18-157-PO-60,E-18-157-PO-90,T-19-12-SN-5,L-19-21-SN-20,SIMON BOLIVAR,LOS HEROES,SANTA ISABEL,L-14-10-PO-5,L-19-21-SN-15,VESPUCIO NORTE,T-3-19-NS-45,T-18-157-PO-40,L-32-3-SN-10
T-18-157-PO-60,0,1,0.0,0,0.000000,0.000000,0.0,0,0,0.0,0,0.0,0.0
E-18-157-PO-90,0,0,0.5,0,0.000000,0.000000,0.0,0,0,0.0,0,0.0,0.5
T-19-12-SN-5,0,0,0.0,1,0.000000,0.000000,0.0,0,0,0.0,0,0.0,0.0
L-19-21-SN-20,0,0,0.0,0,1.000000,0.000000,0.0,0,0,0.0,0,0.0,0.0
SIMON BOLIVAR,0,0,0.0,0,0.000000,1.000000,0.0,0,0,0.0,0,0.0,0.0
LOS HEROES,0,0,0.0,0,0.600000,0.000000,0.2,0,0,0.2,0,0.0,0.0
SANTA ISABEL,0,0,0.0,0,0.000000,0.000000,0.0,1,0,0.0,0,0.0,0.0
L-14-10-PO-5,0,0,0.0,0,0.000000,0.000000,0.0,0,1,0.0,0,0.0,0.0
L-19-21-SN-15,0,0,0.0,0,0.333333,0.666667,0.0,0,0,0.0,0,0.0,0.0
VESPUCIO NORTE,0,0,0.0,0,0.000000,0.000000,0.0,0,0,0.0,1,0.0,0.0
T-3-19-NS-45,0,0,0.0,0,0.000000,0.500000,0.0,0,0,0.0,0,0.5,0.0
T-18-157-PO-40,0,1,0.0,0,0.000000,0.000000,0.0,0,0,0.0,0,0.0,0.0
L-32-3-SN-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
sequence_5 = sequences_septiembre[5]['sequence']
sequence_5

['SIMON BOLIVAR',
 'LA MONEDA',
 'SIMON BOLIVAR',
 'SANTA LUCIA',
 'SIMON BOLIVAR',
 'SALVADOR',
 'LA MONEDA',
 'SIMON BOLIVAR',
 'PEDRO DE VALDIVIA',
 'LOS HEROES',
 'MANUEL MONTT',
 'T-14-128-OP-60',
 'E-20-53-OP-100',
 'E-20-53-PO-40',
 'E-20-53-PO-90',
 'SANTA LUCIA',
 'PEDRO DE VALDIVIA',
 'LA MONEDA',
 'PEDRO DE VALDIVIA',
 'T-19-170-SN-40',
 'E-20-53-OP-70',
 'LA MONEDA',
 'PLAZA EGANA',
 'T-18-157-OP-15',
 'T-18-157-OP-50',
 'T-18-157-PO-50',
 'T-19-164-PO-5',
 'SIMON BOLIVAR']

In [96]:
calcularSimilitud(tpm_5,sequence_5,mls_5)

-255.07326684623979

In [97]:
calcularSimilitud(tpm_1187,sequence_5,mls_1187)

-208.76725028613401